# LAMBDA

In [ ]:
def calc(a,b):
    c = a+b
    return c
calc(10,40)

In [ ]:
df.index

In [12]:
#lambda usar para função simples
#nunca usar lambda em função cmplexas
calc = lambda x,y: x+y
calc(10,40)

50

In [ ]:
# lambda com condição
#exemplo tirar $ de uma coluna chamada price
#isso se nao tiover nenhum na 
df['price'].apply(lambda x : x.replace('$',''))
#caso tenha , fazer considicional se faz dentro do lambda
df['price'].apply(lambda x : VERDADEIRO CONDICIONAL FALSE)
#se x x nao for nulo retorna essa funççao replace caso contrario só retorne x
df['prince'].apply(lambda x : x.replace('$','') if pd.notnull(x)) else x


#caso eu utilizar no df inteiro tem q explicar a coluna:
#lembrar de usar o axis=1 para aplicar em todas as linhas
df.apply(lambda x : x['prince'].replace('$','') if pd.notnull(x['prince'])) else x['prince'],axis=1)


#apply com duas condição
#caso a primeira condição for falsa , esa só vai realizar o false se a mesma condição for a verdadeira da outra condição
df['prince','name'].apply(lambda x : VERDADEIRO CONDIÇÂO 01 FALSE|VERDADEIRO  CONDIÇÂO 02 FALSE )

# MAP

In [ ]:
#map
#aplica uma função em uma estrutura de dados
map(função,dados)

In [15]:
cols_old = ['Fred','R9','Yuri','Champ']

snakecase = lambda x: x.lower()
list(map(snakecase,cols_old))

['fred', 'r9', 'yuri', 'champ']

In [16]:
import pandas as pd

# Dados
dados = {
    'Nome': ['Alice', 'Bob', 'Charlie', 'David'],
    'Idade': [25, 30, 35, 40],
    'Cidade': ['Nova York', 'Los Angeles', 'Chicago', 'Houston']
}

# Criando o DataFrame
df = pd.DataFrame(dados)

In [22]:
new_old = lambda x : x+100
df['new_idade'] = list(map(new_old,dados['Idade']))
df

      Nome  Idade       Cidade  new_altura  new_idade
0    Alice     25    Nova York         125        125
1      Bob     30  Los Angeles         130        130
2  Charlie     35      Chicago         135        135
3    David     40      Houston         140        140

# APPLY

In [25]:
df['df_new_idade_barra_10'] = df['Idade'].apply(lambda x : x/10)
df

      Nome  Idade       Cidade  new_altura  new_idade  df_new_idade_barra_10
0    Alice     25    Nova York         125        125                    2.5
1      Bob     30  Los Angeles         130        130                    3.0
2  Charlie     35      Chicago         135        135                    3.5
3    David     40      Houston         140        140                    4.0

In [ ]:
apply funciona igual o map , aplicar uma função em todas as linhas de uma coluna mas de forma mais direta
melhor usar o apply 
map é mais generico apply é para pandas , so consegue usar o apply em dataframe nao consegue usar ele em list por exemplo

In [26]:
funct = lambda x : x/10
df['df_new_idade_barra_10'] = df['Idade'].apply(funct)
df

      Nome  Idade       Cidade  new_altura  new_idade  df_new_idade_barra_10
0    Alice     25    Nova York         125        125                    2.5
1      Bob     30  Los Angeles         130        130                    3.0
2  Charlie     35      Chicago         135        135                    3.5
3    David     40      Houston         140        140                    4.0

# STATISTIC

In [ ]:
metrica de dispersão KURTOSIS = o quao concentrado os dados estão fazendoi picos


distorce o valor da média pois é sensivel a dados desbalanceados

distribuição dos dados entorno da media
Quando a curtose é positiva, isso indica uma distribuição mais pontiaguda (leptocurtica), e fazem caldas e entao quer dizer que é
mais dificil ter valores muito baixos ou muito altos

e quando é negativa, indica uma distribuição mais achatada (platicurtica)

em ciencia de dados uma alta curtosi significa os dados muito em torno da média e isso pode enviesar os dados e o melhor é ter
dados balanceados para nao interferir nos modelo de ML

quanto mais pontudo o grafico mais os dados estão concentrados ali
quanto mais achatado mais os dados estaão dispersos
kurtosi = 0 os dados estão distribuidos igualmentes

In [ ]:
metrica de dispersão SKEWNESS
por padrao ela é a curva normal e é =0
Em outras palavras, a skewness indica se os dados estão distribuídos de forma simétrica ou assimétrica em relação à média.

K >0 assimetria a direita , demostra que a maioria dos dados nao são maiores que a média
K<0 assimetra a esquerda , demostra que a maioria dos dados estão acima da media
K=0 tabela normal
distorce o valor da média pois é sensivel a dados desbalanceados

In [ ]:
box plot  seaborn 
outliers 3x desv padrao

Quando a mediana está próxima do primeiro quartil em um box plot, isso sugere que a distribuição dos dados é
tendenciosa para os valores menores. Isso pode ter várias implicações, dependendo do contexto:
Concentração de dados: Indica que a maioria dos dados está concentrada nas partes inferiores da distribuição, o que pode sugerir uma tendência para valores mais baixos.
Assimetria: A distribuição dos dados pode ser assimétrica, com uma cauda mais longa em direção aos valores menores.
Possível presença de outliers: Se a distribuição é assimétrica e estendida para valores menores, pode haver outliers nos valores menores que estão distorcendo a 
distribuição. É importante investigar esses valores para determinar sua relevância para a análise.


Em resumo, uma mediana próxima do terceiro quartil em um box plot indica uma distribuição tendenciosa para os valores maiores, 
o que pode ter implicações importantes para a interpretação dos dados, como a ausência de outliers significativos ou uma tendência geral dos dados para valores 
mais altos.

In [ ]:
.T
inverte a coluna de posição x vira y , y vira x

RANGE - disperção
caso o range seja muito grande a diferença entre o max-min for muito grande os dados estão bem espalhados caso contrario nao 

media mediana mdda - é uma forma de escolher um numero que resuma todos os numero do nosso conkjunto de dados
mediana n sofre com outliers

In [ ]:
skwness - Assimetria da distribuição dos dados em relação a media(direita ou esquerda)
kurtossi evidencia de caudas formam picos (baixa probabilidade de acontecer valores extremos)

# DAta Warehouse

In [ ]:
quais os aplicativos de data warehouse
Snowflake
Amazon Redshift: Um serviço de data warehousing totalmente gerenciado pela Amazon Web Services (AWS)
Google BigQuery: Um data warehouse na nuvem totalmente gerenciado pelo Google Cloud Platform (GCP), 
Microsoft Azure Synapse Analytics

User
o postgree é data warehouse ?
O PostgreSQL é um sistema de gerenciamento de banco de dados relacional (RDBMS) de código aberto extremamente poderoso e versátil. 
Embora o PostgreSQL seja capaz de lidar com cargas de trabalho de data warehousing, ele não é estritamente um "data warehouse" por si só.
No entanto, o PostgreSQL pode ser utilizado como parte de uma solução de data warehousing. Muitas organizações utilizam o PostgreSQL como banco de dados principal 
para armazenar e gerenciar os dados em seus data warehouses. 

quer dizer que os dados ficam guardado dentro do data warehouse e o postgree eu pego esses dados dentro do data warehouse e analisa-los ?
Exatamente. Em um ambiente de data warehousing típico, os dados são armazenados e gerenciados dentro do próprio data warehouse
Portanto, em uma arquitetura de data warehousing que utiliza o PostgreSQL, os dados podem ser carregados e armazenados no data warehouse
(por exemplo, usando um dos sistemas mencionados anteriormente, como Snowflake, Redshift, BigQuery, etc.). 
Em seguida, você pode usar o PostgreSQL para acessar esses dados armazenados no data warehouse e realizar análises sobre eles.
Isso pode envolver a execução de consultas complexas, criação de relatórios, análises ad-hoc e muito mais, 
tudo utilizando as capacidades de processamento e consulta do PostgreSQL.
Em resumo, o PostgreSQL pode ser utilizado como parte de uma solução de data warehousing para acessar e analisar os dados armazenados no data warehouse. 
Ele desempenha um papel importante na análise e extração de insights dos dados, complementando as capacidades do data warehouse.

In [ ]:
banco de dados é o data waehouse?

Não, um banco de dados não é o mesmo que um data warehouse, embora ambos sejam usados para armazenar e gerenciar dados. 
Aqui está a diferença básica entre os dois:

Banco de Dados (Database):
Um banco de dados é uma coleção organizada de dados relacionados. Ele é projetado para oferecer uma maneira eficiente de armazenar, recuperar e gerenciar dados.
Os bancos de dados são frequentemente usados para aplicativos transacionais, nos quais há muitas operações de inserção, atualização e exclusão de dados.
Exemplos de bancos de dados incluem MySQL, PostgreSQL, Oracle Database, SQL Server, entre outros.

    Data Warehouse:
Um data warehouse é um tipo específico de banco de dados que é otimizado para análise e relatórios. Ele é usado para armazenar grandes volumes de dados históricos 
de várias fontes de dados diferentes.
Os data warehouses são projetados para fornecer acesso rápido e eficiente aos dados para fins de análise de negócios, tomada de decisões e geração de relatórios.
Eles geralmente envolvem processos de extração, transformação e carregamento (ETL) para consolidar e integrar dados de várias fontes.
Exemplos de plataformas de data warehouse incluem Amazon Redshift, Google BigQuery, Snowflake, entre outros.
Em resumo, enquanto um banco de dados é uma coleção organizada de dados que pode ser usada para várias finalidades, 
um data warehouse é um tipo específico de banco de dados otimizado para análise e relatórios de grandes volumes de dados históricos.

Data warehouse vs.
Um banco de dados armazena dados geralmente de uma determinada área de negócio. 
Um data warehouse armazena dados atuais e históricos de toda a empresa e alimenta o BI e as funções analíticas.

# GIT

In [ ]:
git remote -v
ver quais repositório remoto está conectado na meu repositorio local